<div id="header">
				<div id="logo">
					<a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
				</div>
				<div id="navigation">
					<ul>
						<li {{#if (eq currentPath "/")}}class="selected"{{/if}}>
							<a href="/">Home</a>
						</li>
						<li {{#if (eq currentPath "/travel")}}class="selected"{{/if}}>
							<a href="/travel">Travel</a>
						</li>
						<li {{#if (eq currentPath "/rooms")}}class="selected"{{/if}}>
							<a href="/rooms">Rooms</a>
						</li>
						<li {{#if (eq currentPath "/meals")}}class="selected"{{/if}}>
							<a href="/meals">Meals</a>
						</li>
						<li {{#if (eq currentPath "/news")}}class="selected"{{/if}}>
							<a href="/news">News</a>
						</li>
						<li {{#if (eq currentPath "/about")}}class="selected"{{/if}}>
							<a href="/about">About</a>
						</li>
						<li {{#if (eq currentPath "/contact")}}class="selected"{{/if}}>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>